html {
  scroll-behavior: smooth;
  height: 100%;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. */
}

body {
  font-family: $font-dm-sans;
  overflow-x: hidden;
  margin: 0;
  height: 100%;
}

button:focus,
input,
input:focus,
select,
textarea,
textarea:focus {
  outline: 0;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
label,
li,
p,
span,
textarea,
ul {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

li,
ul {
  list-style: none;
}

a:focus,
a:hover {
  text-decoration: none;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-dm-sans;
}
.gap-77{
  gap:77px;
}
.gap-63{
  gap: 63px;
}

p,
button,
a {
  font-family: $font-dm-sans;
}
