$primary-green: #26B34B;
$secondary-green: #E3EEC2;
$tab-green: #748F28;
$roles-green: #B6D461;
$text-green: #455418;
$white: #fff;
$btn-color: #0C6867;
//new vars
$font-dm-sans: 'DM Sans', sans-serif;
$font-dm-sans: 'DM Sans', sans-serif;
$font-poppins: 'Poppins', sans-serif;


//neutral gray
$neutral-grey-50: #F9FAFB;
$neutral-grey-100: #F2F4F7;
$neutral-gray-200: #F6F6F6;
$neutral-grey-300: #E3E3E3;
$neutral-grey-400: #B4B4B4;
$neutral-grey-500: #989898;
$neutral-grey-600: #5A595A;
$neutral-grey-700: #727172;
$neutral-grey-800: #202B37;
$neutral-grey-900: #141C24;
$neutral-grey-110: #7F7E7F;
$neutral-grey-120: #414041;

$chip-green-bg: #F6FAEB;
$chip-green: #748F28;
$chip-red-bg: #FFE7ED;
$chip-red: #B40C37;
$chip-blue-bg: #E7FDFF;
$chip-blue: #184C51;

$table-border: #EEEEEE;

$permissions-pages: #13100B;