/* You can add global styles to this file, and also import other style files */
@import './theme/theme';
@import './assets/css/main';



::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: $neutral-grey-700;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: $neutral-grey-700;
}