@import '../../../assets/css/helpers/variables';

.filters {
  margin-top: 20px;

  .total {
    span {
      font-size: 16px;
      font-weight: 500;
      color: #343334;
    }
  }

  .search-company {
    width: 300px;
  }
}

.table-listing {
  margin-top: 20px;
  font-family: $font-dm-sans;
  font-size: 14px;
  .bold-first {
    font-weight: 500;
  }

  ::ng-deep {
    table {
      thead {
        background-color: $secondary-green;
        color: $text-green;

        .mat-column-companyName {
          border-right: none;
          border-left: none;
        }

        .mat-mdc-header-cell {
          border-color: $table-border;
        }
        .mat-mdc-header-cell:first-child {
          border-top-left-radius: 20px;
        }
        
        .mat-mdc-header-cell:last-child {
          border-top-right-radius: 20px;
        }

        .mdc-data-table__header-row {
          height: 40px;
        }
      }
    }

    .mdc-checkbox__background {
      border-radius: 6px;
    }

    .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
      border: 1px solid $table-border;
      background: $white;
    }

    .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background, .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background {
      border: 1px solid $primary-green;
      background-color: #E9F7ED;
    }

    .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled~.mdc-checkbox__background .mdc-checkbox__mixedmark{
      border-color: $primary-green;
    }

    .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled~.mdc-checkbox__background .mdc-checkbox__checkmark {
      color: $primary-green;
    }

    .mdc-checkbox__mixedmark {
      width: 70%;
    }


    .mat-column-companyName {
      width: 300px;
      border-right: 1px solid $table-border;
      border-left: 1px solid $table-border;
      padding-right: 24px;
      text-align: left;
    }

    .mat-mdc-cell {
      border-color: $table-border;
    }

    .mat-mdc-cell:last-child {
      border-right: 1px solid $table-border;
    }

    .mat-mdc-row:last-child {
      border-bottom: 1px solid $table-border;
    }

    .mat-mdc-row {
      height: 44px;
    }
    
    .mat-mdc-row:last-child {
      .mat-mdc-cell:first-child {
        border-bottom-left-radius: 20px;
      }
      
      .mat-mdc-cell:last-child {
        border-bottom-right-radius: 20px;
      }
    }

  }
}