@import '../../../../assets/css/helpers/variables';

.has-search {
  .form-control-search {
    position: absolute;
    z-index: 2;
    display: block;
    margin-top: 7px;
    margin-left: 15px;
    text-align: center;
    pointer-events: none;
  }

  .search-field {
    border: 1px solid $neutral-grey-300;
    width: 100%;
    max-height: 44px;
    padding: 10px;
    border-radius: 34px;
    padding-left: 45px;
  }
}